
{% extends 'base.html' %}
{% block content %}
<br>
<table class="table table-dark table-striped"> 
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    {% for s in students %}
    <tr>
    <td>{{s.first_name}}</td>
    <td>{{s.last_name}}</td>
    <td><button>Edit</button> <button>Delete</button></td>
    </tr>  
    {% endfor %}
    
    {% for c in coachs %}
    <tr>
    <td>{{c.first_name}}</td>
    <td>{{c.last_name}}</td>
    <td><button>Edit</button><button>Delete</button></td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}
